# (x)sbt specific
project/build
project/project
target

# Vim and others
*.swp

# Java classes
*.class

# metals and VSCode
.vscode
.metals
.bsp
project/metals.sbt
null
.bloop/
project/.bloop/
project/project/

# intellij
.idea
*.iml
.idea_modules
